customtkinter>=5.2.2
psutil>=5.9.8
python-dotenv>=1.0.1
requests>=2.31.0
pygame-ce>=2.5.7
PyYAML>=6.0.1
openai>=1.30.0
pyttsx3>=2.90
SpeechRecognition>=3.10.0
Pillow>=10.0.0
keyboard>=0.13.5
edge-tts>=6.1.12
elevenlabs>=1.0.0
pyperclip>=1.8.2
